$bg-color: #FAF9F6;
$header-color: #FF0000;
$searchbar-bg: #F7F7F7;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $bg-color;
}

#content{
    .header{
        background-color: $header-color;
        color: $bg-color;
        border: solid 2px black;
        .header-navigation{
            display: flex;
            justify-content: space-between;
            .hamburger-icon, .magnifying-glass-icon{
                max-width: 10%;
                cursor: pointer;
            }
        }
    }
    .searchbar-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        .search-bar-mobile{
            background-color: $searchbar-bg;
            outline: none;
            border: 1px solid #D1D5DB;
            border-radius: 25px;
            padding: 1em 3em;
            margin-top: 1em;
        }
    }
    .menu-div{
        background-color: white;
        top: 0;
        width: 55%;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        animation-name: menu-div-sidebar;
        animation-duration: 0.5s;
        overflow: scroll;

        .menu-ul{
            display: flex;
            flex-direction: column;

            .menu-div-headline{
                padding: 1em 1em;
                border-bottom: 1px solid black;
            }
        }
        li{
            padding: 1em 1em;
            cursor: pointer;
            &:hover{
                background-color: $header-color;
                border: solid 2px black;
            }
        }
        
        a{
            text-decoration: none;
            color: black;
        }
    }

    @keyframes menu-div-sidebar{
        0% {
            left: -50%;
        }

        100%{
            left: 0;
        }
    }
}

@media only screen and (min-width: 1200px){
    #content{
        .header{
            .header-navigation{
                align-items: center;
                .hamburger-icon{
                    max-width: 3%;
                }
                .search-bar{
                    background-color: $searchbar-bg;
                    outline: none;
                    border: 1px solid #D1D5DB;
                    border-radius: 25px;
                    padding: 1em 2em;
                }
            }
        }
    }
}